p { text-align: justify;}

table {
  margin-left: 0;
  margin-right: auto;
}

.menu-title { color: chocolate; 
              }
  
.sombra {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    
.conmarco {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
           padding: 10px;}

h1 { font-size: 3em;}

h2 { border-bottom: 1px solid teal;}

h3 { font-style: italic; }
